.title {
  grid-column: 1 / 3;
  align-self: start;
  font-size: unset;
  font-weight: 400;
}

.created {
  justify-self: end;
  text-align: end;
}

.status,
.created {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #767676;
}

.status span {
  font-weight: bold;

  &.alive {
    color: #267504;
  }

  &.dead {
    color: #820a0a;
  }

  &.unknown {
    color: inherit;
  }
}
