@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-inline-size: 320px;
  max-inline-size: 1920px;
  margin: auto;
  padding: clamp(1rem, -0.3rem + 6.5vw, 7.5rem) clamp(2rem, 0.4rem + 8vw, 10rem);
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  color: #282626;
}

h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:focus-visible {
    outline: none;
  }
}
